.form-container {
    max-width: 1200px;
    margin: auto;
}

.form-container form {
    max-width: 800px;
}

.select-route-title {
    margin-top: 0;
    color: #2c3e50;
}

.select-route-subtitle {
    color: #666;
    margin-bottom: 1.5rem;
}
